body {
    font-family: Arial, sans-serif;
    background-color: rgb(197, 197, 245);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    text-align: center;
    padding: 5px;
    font-size: 2em;
    -webkit-text-fill-color: rgb(47, 99, 255);
    text-align: center;
}

.page {
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    overflow: hidden;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 20px;
    align-items: center;
    align-self: center;
}

.text {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 1.2em;
    align-self: center;
}

.chart {
    align-self: center;
    align-items: center;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.8em;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}